@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*
 * Sets everyting to use `border-box` for calculating sizing.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
 */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    background-color: #eefae6;
}

body {
    color: #1a3608;
    font-family: Outfit, sans-serif;
    max-width: 800px;
    margin: 2em auto;
}

h1 {
    font-weight: 100;
}

header h1 {
    font-size: 1.25em;
    font-weight: 500;
    background-image: url('images/kasmingallery-jan-ole-schiemann-insectoid-2023.webp');
    background-position: 50% 50%;
    background-size: 150%;
    padding: 1em 1em 5em;
    color: #eefae6;

}

a:link {color: #5ad30e;}
a:visited {color: #7977ed;}
a:hover,
a:focus {color: #efe7f5;}
a:active {color: #d7eb3d;}

nav {
    padding: 2em;
    margin: 0; 


}

nav a {
    text-decoration:none;
    background-color: #275b06;
    padding: 5px 6px 7px 8px;
    border-radius: 50px;
    display:block;
    width: fit-content;

}

nav a:hover, 
nav a:focus {
    background-color: darkred;
}

main h1,
main h2,
main p {
    margin: 1rem 0;
}


header {
    float: left;
    width: 30%;
    position: sticky;

}

main {
    float: right; 
    width: 68%;
}

